<% content_for :breadcrumbs do %>
  <div id="heading-breadcrumbs" class="col-md-12">
    <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1></h1>
          </div>
          <div class="col-md-5">
            <ul class="breadcrumb">
              <li><%= link_to "Home", root_path %></li>
               <li>Contact</li>
            </ul>
          </div>
        </div>
    </div>
  </div>
<% end %>

<div class="col-md-8 col-md-offset-2">
 <div class="box" id="contact">
    <h2>Номер телефона</h2>
    <p>Наши менеджеры могут проконсультировать вас по телефону:</p>
    <ul>
      <li>(096) 543-38-24</li>
    </ul>
    <h2>Так же вы можете нам написать</h2>
      <%= form_for(@contact, :html => { :role => 'form'}) do |f| %>
        <% if @contact.errors.any? %>
          <div id="error">
            <% @contact.errors.full_messages.each do |msg| %>
                <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong><%= msg %></strong>
              </div>
            <% end %>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label "Ваше имя:" %><br>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label "Email:" %><br>
          <%= f.text_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label "Ваш вопрос:" %><br>
          <%= f.text_area :content, class: 'form-control' %>
        </div>
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-envelope-o"></i> Отправить
        </button>
      <% end %>
  </div>
</div>
